*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }

form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 16px;
}

.title{
    margin-top: 20px;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 231, 231);
}
  

header {
    width: 100%;
    height: 90px;
    background-color: rgb(155, 93, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-bottom: 50px;
}

.header-title{
    padding-left: 10px;
}

.header-links {
    display: flex;
    gap: 22px;
    padding-right: 10px;
}

section{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog{
    padding: 24px;
    width: 35%;
    margin-bottom: 28px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px hsl(0, 0%, 80%);
    transition: all 0.3s;
    background-color: white;
}

.comment {
    width: 100%;
}

.comment-section {
    display: flex;
}

button {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: hsl(260, 100%, 60%);
    border-radius: 5px;
    border: 4px solid hsl(260, 100%, 60%);
    transition: all 0.3s;
    animation: loadHome 1s ease-in;
    margin-bottom: 40px;
}

input{
    border: none;
    border-radius: 7px;
    padding: 18px;
}

.comment{
    resize: none;
    padding: 10px;
    border: none;
    border-radius: 7px;
}

button:hover {
    transform: translateY(-5px);
    background-color: transparent;
    color: hsl(260, 100%, 60%);
    box-shadow: .3rem .3rem 0 0 hsl(260, 100%, 40%);
}

body::-webkit-scrollbar {
    width: 6px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 7px;
}